importlib-resources==5.13.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt6-qt6==6.9.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt6-sip==13.10.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt6==6.9.0 ; python_version >= "3.9" and python_version < "3.13"
pyside6-addons==6.9.0 ; python_version >= "3.9" and python_version < "3.13"
pyside6-essentials==6.9.0 ; python_version >= "3.9" and python_version < "3.13"
pyside6==6.9.0 ; python_version >= "3.9" and python_version < "3.13"
shiboken6==6.9.0 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.21.0 ; python_version == "3.9"
