importlib-resources==5.12.0 ; python_version >= "3.7"
pyqt6-qt6==6.5.1 ; python_version >= "3.7"
pyqt6-sip==13.5.1 ; python_version >= "3.7"
pyqt6==6.5.0 ; python_version >= "3.7"
zipp==3.15.0 ; python_version < "3.10" and python_version >= "3.7"
