importlib-resources==5.13.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt6-qt6==6.7.3 ; python_version >= "3.9" and python_version < "3.13"
pyqt6-sip==13.8.0 ; python_version >= "3.9" and python_version < "3.13"
pyqt6==6.7.1 ; python_version >= "3.9" and python_version < "3.13"
pyside6-addons==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
pyside6-essentials==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
pyside6==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
shiboken6==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.10"
